In [2]:
#数据归一化  preprocessing.MinMaxScaler

In [3]:
from sklearn.preprocessing import  MinMaxScaler

In [4]:
#创建数据

In [5]:
data=[[-1,2],[-0.5,6],[0,10],[1,18]]

In [6]:
import pandas as pd

In [7]:
pd.DataFrame(data)

     0   1
0 -1.0   2
1 -0.5   6
2  0.0  10
3  1.0  18

In [8]:
#实现归一化

In [9]:
scaler = MinMaxScaler()#实例化

In [10]:
scaler=scaler.fit(data)#fit 生成，min(x),max(x)

In [11]:
result=scaler.transform(data)

In [12]:
result

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [1.  , 1.  ]])

In [24]:
reslut_=scaler.fit_transform(data)

In [25]:
result

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [1.  , 1.  ]])

In [26]:
#将归一化后的结果还原
scaler.inverse_transform(result)

array([[-1. ,  2. ],
       [-0.5,  6. ],
       [ 0. , 10. ],
       [ 1. , 18. ]])

In [27]:
#使用MinMaxScaler的参数feature_range实现将数据归一化到[0,1]以外的范围中

In [28]:
data=[[1,2],[-3,2],[4,-5],[1,3]]

In [29]:
pd.DataFrame(data)

   0  1
0  1  2
1 -3  2
2  4 -5
3  1  3

In [31]:
scaler=MinMaxScaler(feature_range=[0,1])#依然实例化

In [32]:
result=scaler.fit_transform(data)#fit_transform一步导出结果

In [33]:
reslut

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [1.  , 1.  ]])

#当X中的特征数量非常多的时候，fit会报错并表示，数据量太大了我计算不了
#此时使用partial_fit作为训练接口
#scaler = scaler.partial_fit(data)

BONUS: 使用numpy来实现归一化

In [36]:
import numpy as np

In [37]:
X = np.array([[-1, 2], [-0.5, 6], [0, 10], [1, 18]])

In [39]:
#归一化
X_nor = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
X_nor

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [1.  , 1.  ]])

In [40]:
#逆转归一化
X_returned = X_nor * (X.max(axis=0) - X.min(axis=0)) + X.min(axis=0)
X_returned

array([[-1. ,  2. ],
       [-0.5,  6. ],
       [ 0. , 10. ],
       [ 1. , 18. ]])

preprocessing.StandardScaler                                                        当数据(x)按均值(μ)中心化后，再按标准差(σ)缩放，数据就会服从为均值为0，方差为1的正态分布（即标准正态分
布），而这个过程，就叫做数据标准化(Standardization，又称Z-score normalization)，公式如下：

In [42]:
from sklearn.preprocessing import StandardScaler
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]

In [43]:
scaler=StandardScaler()
scaler.fit(data)

StandardScaler()

In [47]:
scaler.mean_

array([-0.125,  9.   ])